{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="col-xs-5 col-md-5">
        <div class="wrap-form">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required>
                <input type="hidden" name="_target_path" value="{{ path('app_home') }}"/>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
                <a class="text-muted" href="{{ path('logout') }}">logout </a>
            </form>
        </div>
    </div>
    <div class="col-xs-7 col-md-7">
        <div class="wrap-form">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'Register'|trans }}</h1>
            {{ form_start(registrationForm, {'action': path('app_register'), 'attr':{'style':'margin-top: -8px;'}}) }}
            {{ form_row(registrationForm.email, {'label':false, 'attr':{'class':'form-control','placeholder':'email'|trans}}) }}
            {{ form_row(registrationForm.plainPassword, {'label':false, 'attr':{'class':'form-control','placeholder':'password'|trans}}) }}

            <button class="btn btn-sm btn-warning" style="margin-top: -1px;">{{ 'Submit register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
