{% extends 'base.html.twig' %}

{% block title %}Home page!{% endblock %}

{% block body %}
    <div class="col-xs-12 col-md-7 header-text">
        <h2>It’s all about Promoting your Business</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ex inventore vel error quibusdam
            animi fugiat, doloribus dolores consectetur nulla deleniti sint blanditiis quod debitis quis vitae
            officiis tempora numquam.</p>
        <a href="#" class="button white">Watch video</a>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 text-right">
        <div class="screen-box screen-slider">
            <div class="item">
                <img src="{{ asset('images/screen-1.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('images/screen-2.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('images/screen-3.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('images/screen-4.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('images/screen-5.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}