{% extends 'lk_base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    <h1>{{ 'Insta helper for you'|trans }}</h1>
    <div class="row">
        <div class="col-lg-1">
            <div class="buttons">
                <a data-toggle="modal" data-target="#modal-form" href="javascript:void(0)"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ titleForm }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                {{ form_row(form.title, {'attr':{'class':'form-control'}}) }}
                                {{ form_row(form.login, {'attr':{'class':'form-control'}}) }}
                                {{ form_row(form.password, {'attr':{'class':'form-control'}}) }}
                                {{ form_row(form.description, {'attr':{'class':'form-control'}}) }}

                                {{ form_row(form.submit, { 'label': 'Submit'|trans, 'attr':{'class':'btn btn-block btn-primary'}}) }}
                                {{ form_end(form) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
        {% for account in accounts %}
            <div class="col-lg-3">
                <div class="panel panel-heading"><a href=""><span class="label label-info">{{ account.title }}</span></a></div>
                <div class="panel panel-info">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{ account.profilePic }}">
                        </div>
                        <div class="col-lg-8">
                            <div class="wrap-image">
                                <span class="label label-default img-circle"><i
                                            class="glyphicon glyphicon-user count-follower"></i>&nbsp; {{ account.countFollower }}</span>
                                <span class="label label-primary label-default"><i
                                            class="glyphicon glyphicon-heart count-following"></i>&nbsp; {{ account.countFollowing }}</span>
                                <span class="label label-success"><i class="glyphicon glyphicon-picture"></i>&nbsp; {{ account.countMedia }}</span>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <a href="{{ path('lk_task_bot') }}">Active tasks</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}
