{% extends 'lk_base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.title, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.shortDescription, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.fullDescription, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.isActive, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.isPublished, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.isVideo, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}