{% extends 'lk_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="table table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>{{ 'igPk' | trans }}</td>
                        <td>{{ 'pathFile' | trans }}</td>
                        <td>{{ 'title' | trans }}</td>
                        <td>{{ 'shortDescription' | trans }}</td>
                        <td> {{ 'fullDescription' | trans }}</td>
                        <td>{{ 'isActive' | trans }}</td>
                        <td>{{ 'isPublished' | trans }}</td>
                        <td>{{ 'isVideo' | trans }}</td>
                        <td>{{ 'linkPost' | trans }}</td>
                        <td>{{ 'datetimePosting' | trans }}</td>
                        <td>{{ 'countComment' | trans }}</td>
                        <td>{{ 'viewCount' | trans }}</td>
                        <td>{{ 'likeCount' | trans }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}