{% extends 'lk_base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.group, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.newGroup, {"attr" : {"class":"form-group col-lg-12"}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            {{ form_row(form.hashTag, {"attr" : {"class":"form-group col-lg-12"}}) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}