{% extends 'lk_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-1">
            <div class="buttons">
                <a data-toggle="modal" data-target="#modal-form" href="javascript:void(0)"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ titleForm }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                {{ form_row(form.account, {'attr':{'class':'form-control'}}) }}
                                {{ form_row(form.title, {'attr':{'class':'form-control'}}) }}
                                {{ form_row(form.description, {'attr':{'class':'form-control'}}) }}

                                {{ form_row(form.submit, { 'label': 'Submit'|trans, 'attr':{'class':'btn btn-block btn-primary'}}) }}
                                {{ form_end(form) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
        <div class="col-lg-11 col-md-1s col-xs-12">
            <div class="table table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>{{ 'Group name' | trans }}</td>
                        <td>{{ 'Group description' | trans }}</td>
                        <td>{{ 'Created' | trans }}</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.title }}</td>
                                <td>{{ group.description }}</td>
                                <td>{{ group.createdAt.format('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}