<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" type="image/ico" href="{{ asset('images/favicon.ico') }}"/>
    {% block stylesheets %}
        <!-- Plugin-CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <!-- Main-Stylesheets -->
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    {% endblock %}
</head>

<body data-spy="scroll" data-target="#primary-menu">

<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<!--Mainmenu-area-->
<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('app_home') }}" class="navbar-brand logo">
                <h2>{{ 'app_name'|trans }}</h2>
            </a>
        </div>
        <!--Logo/-->
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home-page">{{ 'Home'|trans }}</a></li>
                <li><a href="#service-page">{{ 'Why we'|trans }}</a></li>
                <li><a href="#feature-page">{{ 'Features'|trans }}</a></li>
                <li><a href="#price-page">{{ 'Pricing'|trans }}</a></li>
                {% if app.user %}
                    <li>
                        <a href="{{ path('lk_dashboard') }}">{{ 'user_panel'|trans }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">{{ 'login'|trans }}</a></li>
                {% endif %}

                <li><a href="#faq-page">{{ 'FAQ'|trans }}</a></li>
                <li><a href="#blog-page">{{ 'Blog'|trans }}</a></li>
                <li><a href="#contact-page">{{ 'Contact'|trans }}</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--Mainmenu-area/-->


<!--Header-area-->
<header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute anlge-bg"></div>
    <div class="container">
        <div class="row v-center">
            {% block body %}{% endblock %}
        </div>
    </div>
</header>
<!--Header-area/-->
<!--Feature-area-->
<section class="gray-bg section-padding" id="service-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/service-icon-1.png') }}" alt="">
                    </div>
                    <h4>Легко использовать</h4>
                    <p>Авторизуйся в своем аккаунте через наш сервис и вперед!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/service-icon-2.png') }}" alt="">
                    </div>
                    <h4>Огромный выбор</h4>
                    <p>Мы предоставляем большой и не ограниченный набор действий</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/service-icon-3.png') }}" alt="">
                    </div>
                    <h4>Настрой под себя</h4>
                    <p>Не можете или не хотите, - служба поддержки поможет Вам - быстро и бесплатно</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Feature-area/-->

<section class="angle-bg sky-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active row">
                            <div class="v-center">
                                <div class="col-xs-12 col-md-6">
                                    <div class="caption-title" data-animation="animated fadeInUp">
                                        <h2>Развивай легко</h2>
                                    </div>
                                    <div class="caption-desc" data-animation="animated fadeInUp">
                                        <p>Большая часть сервисов по раскрутке инсты - морочат вам голову и не дают
                                            гарантии. В нашем сервисе - все иначе!
                                            Вы свляетесь своей же гарантией, а самое главное вы не тратите лишних денег!
                                            Регистрируйтесь и творите свой успех сами!</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="caption-photo one" data-animation="animated fadeInRight">
                                        <img src="{{ asset('images/screen-1.jpg') }}" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="caption-photo two" data-animation="animated fadeInRight">
                                        <img src="{{ asset('images/screen-2.jpg') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="v-center">
                                <div class="col-xs-12 col-md-6">
                                    <div class="caption-title" data-animation="animated fadeInUp">
                                        <h2>Полный контроль</h2>
                                    </div>
                                    <div class="caption-desc" data-animation="animated fadeInUp">
                                        <p>Вы четко контролируете все что происходит с Вашим аккаунтом. А наша система
                                            статистики - выдает вам очень точные показатели, по
                                            которым Вы можете определить где вы сейчас и куда двигаться дальше</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="caption-photo one" data-animation="animated fadeInRight">
                                        <img src="{{ asset('images/screen-3.jpg') }}" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="caption-photo two" data-animation="animated fadeInRight">
                                        <img src="{{ asset('images/screen-4.jpg') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="v-center">
                                <div class="col-xs-12 col-md-6">
                                    <div class="caption-title" data-animation="animated fadeInUp">
                                        <h2>Мы постоянно совершенствуемся</h2>
                                    </div>
                                    <div class="caption-desc" data-animation="animated fadeInUp">
                                        <p>Мир не стоит на месте и мы тоже. Всегда есть к чему стремится, не так ли?
                                            Помогай нашему сервису и получай скидки на услуги</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="caption-photo one" data-animation="animated fadeInRight">
                                        <img src="{{ asset('images/screen-7.jpg') }}" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="caption-photo two" data-animation="animated fadeInRight">
                                        <img src="{{ asset('images/screen-2.jpg') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators caption-indector">
                        <li data-target="#caption_slide" data-slide-to="0" class="active">
                            <strong>Развивать акк в инсте легко и просто, если вы </strong>вместе с профи. Наш сервис
                            поможет Вам сделать аккаунт популярнее!
                        </li>
                        <li data-target="#caption_slide" data-slide-to="1">
                            <strong>Тотальный контроль в цифрах </strong> Мощная система статистики.
                        </li>
                        <li data-target="#caption_slide" data-slide-to="2">
                            <strong>Мы развиваемся быстро и вместе с Вами. </strong>Наш успех напрямую зависит от Вас.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="gray-bg section-padding" id="feature-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>Что мы умеем</h2>
                    <p>Сервис с мужским характером - для тех, кто хочет держать свой успех в своих руках</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/portfolio-icon-1.png') }}" alt="">
                    </div>
                    <h3>Рассылки в директ</h3>
                    <p>Мощный инструмент для того, чтобы заявить о себе в коротки сроки</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/portfolio-icon-2.png') }}" alt="">
                    </div>
                    <h3>Постинг и Постинг по расписанию</h3>
                    <p>Готовьте посты прямо в интерфейсе и публикуйте их в своем аккаунте</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/portfolio-icon-3.png') }}" alt="">
                    </div>
                    <h3>Лайкинг - никогда не умрет!</h3>
                    <p>Отлайкайте как следует свою аудиторию</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/portfolio-icon-4.png') }}" alt="">
                    </div>
                    <h3>Авто-ответы на события</h3>
                    <p>Настрой авто-сообщения на различные события в инсте. Система автоматически ответит готовым
                        набором сообщений в длирект Вашему потенциальному клиенту</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/portfolio-icon-5.png') }}" alt="">
                    </div>
                    <h3>Будь в курсе всех событий</h3>
                    <p>Уведомления по смс о новых сообщениях в директ. Настрой шаблон сообщения в директ и узнавай о
                        них
                        мгновенно</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="box">
                    <div class="box-icon">
                        <img src="{{ asset('images/portfolio-icon-6.png') }}" alt="">
                    </div>
                    <h3>Общайся из сервиса</h3>
                    <p>Отвечайте клиентам прямо из сервиса.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="price-area overlay section-padding" id="price-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>Тарифные планы</h2>
                    <p>Нет тарифных планов, есть фикс-прайс на конкретную услугу.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area relative sky-bg" id="contact-page">
    <div class="absolute footer-bg"></div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Contact with us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates, temporibus at,
                            facere harum fugiat!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <address class="side-icon-boxes">
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="{{ asset('images/location-arrow.png') }}" alt="">
                            </div>
                            <p><strong>Address: </strong> Box 564, Disneyland <br/>USA</p>
                        </div>
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="{{ asset('images/phone-arrow.png') }}" alt="">
                            </div>
                            <p><strong>Telephone: </strong>
                                <a href="callto:8801812726495">+8801812726495</a> <br/>
                                <a href="callto:8801687420471">+8801687420471</a>
                            </p>
                        </div>
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="{{ asset('images/mail-arrow.png') }}" alt="">
                            </div>
                            <p><strong>E-mail: </strong>
                                <a href="mailto:youremail@example.com">youremail@example.com</a> <br/>
                                <a href="mailto:youremail@example.com">example@mail.com</a>
                            </p>
                        </div>
                    </address>
                </div>
                <div class="col-xs-12 col-md-8">
                    <form action="process.php" id="contact-form" method="post" class="contact-form">
                        <div class="form-double">
                            <input type="text" id="form-name" name="form-name" placeholder="Your name"
                                   class="form-control" required="required">
                            <input type="email" id="form-email" name="form-email" class="form-control"
                                   placeholder="E-mail address" required="required">
                        </div>
                        <input type="text" id="form-subject" name="form-subject" class="form-control"
                               placeholder="Message topic">
                        <textarea name="message" id="form-message" name="form-message" rows="5" class="form-control"
                                  placeholder="Your message" required="required"></textarea>
                        <button type="sibmit" class="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">
                    <ul class="social-menu text-right x-left">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter"></i></a></li>
                        <li><a href="#"><i class="ti-google"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li><a href="#"><i class="ti-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corrupti architecto consequuntur,
                        laborum quaerat sed nemo temporibus unde, beatae vel.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy;Copyright 2018 All right resurved. This template is made with <i class="ti-heart"
                                                                                              aria-hidden="true"></i> by
                        <a href="https://colorlib.com">Colorlib</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Vendor-JS-->
    <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <!--Plugin-JS-->
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/contact-form.js') }}"></script>
    <script src="{{ asset('js/jquery.parallax-1.1.3.js') }}"></script>
    <script src="{{ asset('js/scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <!--Main-active-JS-->
    <script src="{{ asset('js/main.js') }} "></script>
{% endblock %}
</body>

</html>
