<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" type="image/ico" href="{{ asset('images/favicon.ico') }}"/>
    {% block stylesheets %}
        <!-- Plugin-CSS -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <!-- Main-Stylesheets -->
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    {% endblock %}
</head>

<body data-spy="scroll" data-target="#primary-menu">

<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            ...
        </div>
    </nav>
</div>
<div class="push55"></div>
<div class="row">
    <div class="col-lg-2 col-md-2 hidden-xs">
        <ul>
            <li><a href="javascript:void(0)">Insta accounts</a>
                <ul>
                    <li><a href="{{ path('lk_insta_account_list') }}">List insta accounts</a></li>
                    <li><a href="{{ path('lk_insta_account_tag_list') }}">Tags accounts</a></li>
                    <li><a href="{{ path('lk_insta_account_tag_group') }}">Tags group</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Account post</a>
                <ul>
                    <li><a href="{{ path('lk_account_post_list') }}">List</a></li>
                    <li><a href="{{ path('lk_account_post_add') }}">Add</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Statistik</a>
                <ul>
                    <li><a href="{{ path('lk_statistik') }}">Action bot</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Proxy account</a>
                <ul>
                    <li><a href="{{ path('lk_insta_account_proxy_list') }}">List</a></li>
                    <li><a href="{{ path('lk_insta_account_proxy_add') }}">Add</a></li>
                </ul>
            </li>
            <li><a href="{{ path('lk_task_bot') }}">Task bot</a></li>
            <li><a href="{{ path('lk_follower') }}">Follower</a></li>
            <li><a href="{{ path('lk_liker') }}">Liker</a></li>
            <li><a href="{{ path('lk_unfollower') }}">Unfollower</a></li>
            <li><a href="javascript:void(0)">Settings</a>
                <ul>
                    <li><a href="{{ path('lk_insta_account_auditory_settings') }}">Analize settigns auditory</a></li>
                    <li><a href="{{ path('lk_limits_for_action') }}">Limits for action</a></li>
                    <li><a href="{{ path('lk_ignore_follower_tag') }}">Ignore follower tags</a></li>
                    <li><a href="{{ path('lk_ignore_unfollower_tag') }}">Ignore unfollower tags</a></li>
                    <li><a href="{{ path('lk_ignore_unfollower_account') }}">Ignore unfollower account</a></li>
                    <li><a href="javascript:void(0)">Direct message</a>
                        <ul>
                            <li><a href="{{ path('lk_direct_message_stat') }}">Statistic</a></li>
                            <li><a href="{{ path('lk_direct_message') }}">Template</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Pay system proxy account</a>
                <ul>
                    <li><a href="{{ path('lk_insta_system_account_proxy_list') }}">List</a></li>
                    <li><a href="{{ path('lk_insta_system_account_proxy_add') }}">Add</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Lk</a></li>
        </ol>
        {% block body %}{% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Vendor-JS-->
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/vue/dist/vue.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <!--Plugin-JS-->
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/contact-form.js') }}"></script>
    <script src="{{ asset('js/jquery.parallax-1.1.3.js') }}"></script>
    <script src="{{ asset('js/scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <!--Main-active-JS-->
    <script src="{{ asset('js/main.js') }} "></script>
{% endblock %}
</body>

</html>
